info:
    title: Task Aggregate
    version: ""
servers:
    - url: https://domainname.com
openapi: 3.1.0
paths:
    /add-task:
        post:
            requestBody:
                content:
                    application/json:
                        schema:
                            required:
                                - title
                                - description
                                - assigneeId
                            type: object
                            properties:
                                title:
                                    type: string
                                description:
                                    type: string
                                assigneeId:
                                    type: string
            responses:
                "200":
                    description: successful command
                    content:
                        application/json:
                            schema:
                                required:
                                    - taskId
                                type: object
                                properties:
                                    taskId:
                                        type: string
    /complete-task:
        post:
            requestBody:
                content:
                    application/json:
                        schema:
                            required:
                                - taskId
                            type: object
                            properties:
                                taskId:
                                    type: string
            responses:
                "200":
                    description: successful command
                    content:
                        application/json:
                            schema:
                                required: []
                                type: object
                                properties: {}
    /assignee-task:
        get:
            parameters:
                - name: assigneeId
                  in: query
                  required: true
                  schema:
                      type: string
            responses:
                "200":
                    description: successful query
                    content:
                        application/json:
                            schema:
                                required:
                                    - taskId
                                    - title
                                    - description
                                    - assigneeId
                                    - status
                                type: object
                                properties:
                                    taskId:
                                        type: string
                                    title:
                                        type: string
                                    description:
                                        type: string
                                    assigneeId:
                                        type: string
                                    status:
                                        type: string
                                        enum:
                                            - open
                                            - completed
components:
    schemas: {}
